
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*
* --------------------------------------------
* These are some styles that I am customizing 
* to over-ride the default bootstrap ones
*---------------------------------------------
*/

@font-face {
    font-family: 'Comic Neue', cursive;
    src: url();
}

body{
    font-family: 'Comic Neue', cursive;
}

.bg-info {
    background-color: #C6CAED !important;
}

.navbar-light .navbar-brand {
    color: #ADA8BE;
    font-family: 'Comic Neue', cursive;
}

.btn-primary {
    color: #A28497;
    background-color: #6F5E5C;
    border-color: #6F5E5C;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4A5240;
    border-color: #C6CAED;
  }

body {
    background-color: #ADA8BE;
}